.topnav {
    background-color: #180a15;
    overflow: hidden;
}

.topnav a {
    float: left;
    display: block;
    text-align: center;
    padding: 12px 16px;
    font-size: 25px;
    color: rgb(238, 176, 247);
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.topnav a.active {
    float: left;
    display: block;
    text-align: center;
    background-color: rgb(238, 176, 247);
    color: hsl(312, 43%, 16%);
}

.topnav a:hover {
    float: left;
    display: block;
    text-align: center;
    background-color: rgb(238, 176, 247);
    color: hsl(312, 43%, 16%);
}

.tabs {
    background-color: hsl(312, 43%, 16%);

}

.tabs button {
    float: left;
    display: block;
    text-align: center;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 12px 16px;
    color: rgb(238, 176, 247);
    background-color: #3f2139;
}

.tabs button.active {
    float: left;
    display: block;
    text-align: center;
    background-color: rgb(238, 176, 247);
    color: hsl(312, 43%, 16%);
}

.tabs button:hover {
    float: left;
    display: block;
    text-align: center;
    background-color: rgb(238, 176, 247);
    color: hsl(312, 43%, 16%);
}

html {
    background-color: #2e182a;
    color: rgb(238, 176, 247);
}

