.row {
    float: left;
    display: flex;
}

.column {
    flex: 33.33%;
    padding: 10px;
}

.topimage  {
    display: none;
    position: relative;
    top: 0%;
    max-height: 600px;
    z-index: 0;
    animation-name: appear;
    animation-duration: .75s;
    animation-timing-function: ease-out;
}

@keyframes appear {
    from {transform: rotateX(450deg); opacity: 0%;}
    to {transform: rotateX(0deg); opacity: 100%;}
}

.headshot {
    max-height: 25%;
    align-self: center;
    position: relative;
    left: 666px;
    max-width: 500px;
}

/* tab headers*/
 h3 {
    float: left;
    background-color: inherit;
    text-align: center;
    font-size: 32px;
    padding: 10px 10px;
    border-color: inherit;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


p {
    
    float: left;
    background-color: inherit;
    border-color: inherit;
    text-align: center;
    font-size: 24px;
    padding: 10px 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.permaBox {
    display: block;
    float: left;
    text-align: center;
    width: 66.6%;
    overflow: hidden;
    color: rgb(238, 176, 247);
    border: 1px solid #6eff8d;
    background-color: #011405;
    padding: 12px;
    position: relative;
}

#PubRecord {
margin-top: 2.5%;
}

/* navigation bar*/
.topnav {
    background-color: rgba(1, 24, 6, 0.966);
    float: left;
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 1;
}


.topnav a {
    float: left;
    display: block;
    text-align: center;
    padding: 27px 33.3px;
    font-size: 28px;
    color: rgb(238, 176, 247);
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.topnav a.active {
    background-color: rgb(28, 3, 32);
    color: #6eff8d;
    border-radius: 33.3%;
}

.topnav a:hover {
    float: left;
    text-align: center;
    background-color: #6eff8d;
    color: #011405;
    transition: 0.45s;
    border-radius: 66.6%;
}

/*  topic tabs */
.tabs {
    clear: left;
    text-align: center;
    padding-left: 12px;
    float: left;
    overflow: hidden;
    position: relative;
    z-index: 3;
    
}


.tabs button {
    border-top-right-radius: 33.3%;
    border-top-left-radius: 33.3%;
    min-height: 50%;
    float: left;
    display: block;
    text-align: center;
    font-size: 28px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 12px 22px;
    background-color: #6eff8d;
    color: #011405;
    transition: 0.333s;
    z-index: 1;
}

.tabs button.active {
    float: left;
    background-color: rgba(1, 24, 6, 1);
    color: rgb(238, 176, 247);
    border: 1px solid #6eff8d;
    border-bottom-color: #011405;
}

.tabs button:hover {
    float: left;
    display: block;
    text-align: center;
    background-color: rgba(3, 70, 18, 0.966);
    color: rgb(226, 117, 243);
    border: 1px solid #6eff8d41;
    border-bottom-color: #011405;
}

.tabcontent {
    clear: left;
    position: relative;
    float: left;
    width: 66.6%;
    z-index: 2;
    display: none;
    overflow: hidden;
    padding: 12px;
    color: rgb(238, 176, 247);
    border: 1px solid #6eff8d;
    background-color: #011405;

}

html {
    background-color: rgb(12, 12, 12);
}

