/* constants */
:root{
    /*background colors */
    --background-light: #dbdabc;
    --background-dark: #57605b;

    /*text colors */
    --main-text-light: #324d3e;
    --main-text-dark: #c1decc;

    /*fonts */
    --main-font-fam:  'Open Sans', sans-serif;
    --header-font-fam: 'URW Gothic', serif;

    --main-font-size: 12px;

}

