/* constants */
:root{
    /*background colors */
    --background-light: #eeeee5;
    --background-light-accent: #cecca3;
    --background-light-highlight: #ddda8d;

    --background-dark: #0f1110;
    --background-dark-accent: #1f2823;
    --background-dark-highlight: #355644;

    /*text colors */
    --main-text-light: #324d3e;
    --clicked-link-light: #4d2458;

    --main-text-dark: #c1decc;

    /*fonts */
    --main-font-fam:  'Open Sans', sans-serif;
    --header-font-fam: 'URW Gothic', serif;

}

/*entire document*/
html{
    background-color: var(--background-dark);
    border: 0px;
   
}

/*text*/
/*main title*/
.nameHeader{
  margin: 600px 25px 2px 25px;

  font-family: var(--header-font-fam); 
  font-size: 75px;
  text-shadow: 10px 5px 5px var(--background-dark);

  color: var(--main-text-dark);
}

h3{
    margin: 25px;
    font-size: 35px;
   font-family: var(--header-font-fam);
   color: var(--main-text-light); 
}

/*content divs*/
.banner {
    float:none;
    overflow-x: hidden; 
    width: 100%;
    height: 1000px;
    padding: 0px;
    margin: 0px;
    border: 0px;

    background-image: url("/resources/images/indexImages/Butterfly.jpg" );
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
 
    margin-bottom: 0px;
}

.parrDiv{
    display: flex;
    position: relative;
    background-color: var(--background-light-accent);
    margin-top: -50px;

}

/*Floating Top Navigation Bar*/
#topbar {
    position: fixed;
    top: 12px;
    right: 0;
    left: 0;
    z-index: 5;
    transition: top .3s;
    
}

.topnav{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    overflow: hidden;
    position: relative;
    background-image: linear-gradient(to right, var(--background-dark-accent), rgba(0, 0, 0, 0.1));
}

.topnav a {
    text-align: center;
    text-decoration-line: none ;
    
    float:inline-start;
    display:block;
    padding: 50px 25px;

    font-size: 30px;
    font-family: var(--header-font-fam);
    
    color: var(--main-text-dark);

}
.topnav a.active {
    font-weight: 800;
    color: var(--clicked-link-light);
    background-color: var(--background-light);
   
}

.topnav a:hover {
    transition:  .66s ease-in-out;
    color: var(--clicked-link-light);
    background-color: var(--background-light);
    
}

/*social icons*/
.row {
    float: left;
    display: flex;
    flex-flow: row nowrap;
    justify-content: left;
    padding: 0px 0px 0px 135px ;
    width: 98%;
}


.socialIcon {

    height: 80px;
    margin: 12px;

}
.socialIconBtn {
    margin: 6px;
    border-radius: 2rem; 
}

.socialIconBtn:hover {
    transition: .33s;
    filter: invert();
}