/* constants */
:root{
    /*background colors */
    --background-light: #99b1d8;
    --background-light-accent: #c8fdc8;
    --background-light-highlight: #6f9788;

    --background-dark: #191d24;
    --background-darker: #121418;
    --background-dark-accent: #28313f;
    --background-dark-highlight: #121316;

    /*text colors */
    --main-text-light: #082716;
    --clicked-link-light: #4a6856;

    --main-text-dark:  #e4c981;
    --main-text-dark-active:  #faedcb;

    /*fonts */
    --main-font-fam:  'Accanthis ADF Std', serif;
    --header-font-fam: 'Accanthis ADF Std', serif;

}

@media screen and (min-width: 600px) {
  .header {grid-area: 1 / span 6;}
  .menu {grid-area: 2 / span 1;}
  .content {grid-area: 2 / span 4;}
  .facts {grid-area: 2 / span 1;}
  .footer {grid-area: 3 / span 6;}
}

/*entire document*/
html{
    background-color: var(--background-darker);
    border: 0px;
   overflow-x: hidden;
}

/*text*/
/*main title*/
.nameHeader{
  margin: 18% 25px 2px 25px;

  font-family: var(--header-font-fam); 
  font-size: 6vh;
  text-shadow: 10px 5px 5px var(--background-darker);

  color: var(--main-text-dark);
}

hr{
    border-color: var(--background-light-highlight);
    width: 75%;
    margin-top: 25;
    margin-bottom: 45px;
}

h2{
    margin: 24px;
    font-size: 7vh;
   font-family: var(--header-font-fam);
   flex-grow: 5;
   color: var(--main-text-dark); 
}


h3{
    margin-top: 20px;
     margin-bottom: 20px;
    font-size: 5vh;
   font-family: var(--header-font-fam);
   color: var(--main-text-dark); 
}

h4{
    margin: 25px;
    font-size: 3%;
    font-family: var(--header-font-fam);
   color: var(--main-text-dark); 
}

.mainText {

    font-family:  var(--main-font-fam);
    color: var(--main-text-dark);
    font-size: 2.5vh;
}
.caption{
    min-width: 50%;
    font-family:  var(--main-font-fam);
    color: inherit;
    font-size: 2.5vh;
    align-self:flex-start;
    margin: 12px;

   

}

.emailLink{
    font-size: 18px;
    color: var(--main-text-dark);
    text-decoration: none;
    padding: 6px;
    background-color: var(--background-dark-accent);
    border-radius: 4px;
}
.emailLink:hover{
    color: var(--main-text-dark-active);
    transition:  .33s ease-in-out;
    background-color: var(--background-dark-highlight);
}

/*content divs*/
.banner {
    float:none;
    overflow-x:visible; 
    width: 100vw;
    height: 7.5vh;
    padding: 0px;
    margin: 0px;
    border: 0px;
    background-color:var(--background-darker);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
 
    margin-bottom: 0px;
}



.rug {
    float:none;
    overflow-x: hidden; 
    width: 100vww;
    height: 10vh;
    padding: 0px;
    margin: 0px;
    border: 0px;
    align-content: end;

     background-color: var(--background-darker);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
 
    margin-bottom: 0px;
}

.main-content{
    
    text-align: center;
    background-color: var(--background-dark);
    justify-content: center;
    padding: 2% 4.5% 3.5%;
    flex: 1 1 80%;

     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, .6);
     border-radius: 50px;
}

.parrDiv{
    
    margin: 1%;
display:flex;
flex-wrap: wrap;
justify-content: space-evenly;
grid-template-rows: repeat(10, minmax( 15vw, 1fr));
grid-template-columns: repeat(auto-fill, minmax(15vw, 1fr));
gap: 10px;
overflow:visible;
 
&.short{
    margin: 1% 5%;
display:flex;
grid-template-rows: repeat( 2, minmax(30vw, 1fr));
grid-template-columns: repeat(auto-fit, minmax(20vw, 1fr));
gap: 4.5px;
overflow:visible;
}

}

#port2025{

grid-template-rows: repeat(9, minmax( 15vw, 1fr));
}

.parrDivPort{
    align-items: center;
    float:none;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: var(--background-dark);
    margin-top: 50px;
    padding-left: 100px;
    padding-right: 100px;

}

.portfolioItem{
   object-fit: scale-down;
}

.innerBox:hover{
     transition:  .33s ease-in-out;
    background-blend-mode: multiply;
    color: var(--background-light-accent);
    transition:  .33s ease-in-out;
}

.innerBox{
    
    height: fit-content;
    background: rgba(0, 0, 0, 0.7);
    color: rgba(0, 0, 0, 0);
    display: flex;
    position: relative;
    justify-content:baseline;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, .6);

    &.square{
    grid-row:  span 2;
    grid-column: span 2;
}
&.squareBig{
    grid-row:  span 3;
    grid-column: span 3;
}

&.tall{
    grid-row: span 3;
    grid-column: span 2;
   
    
}

&.long{
    grid-row: span 2;
    grid-column: span 3;
    

}

&.tinyLong{ 
grid-row: span 1;
    grid-column: span 3;
}
&.xtraLong{
    grid-row: span 2;
    grid-column: span 4;

}

&.xtraTall{
    grid-row: span 4;
    grid-column: span 3;
    
}

&.superSquare{
    grid-row: span 4;
    grid-column: span 4;
}

}

.Clementines{ 
    aspect-ratio: 4032/3024;
    max-height: 60vh;
    width: 40vw;         
    background-image: url("/resources/images/portfolio/clems.jpg");
background-size:cover;
background-position: center;
 background-repeat:no-repeat;
}

.Bridge{
    max-height:60vh;
    max-width: 40vw;
    background-image: url("/resources/images/portfolio/bridge.jpg");
background-size:cover;
background-position: center;
 background-repeat:no-repeat;
}

.martini{
    aspect-ratio: 2823/2906;
    max-height: 60vh;
    max-width: 40vw;
background-image: url("/resources/images/portfolio/tini.jpg");
background-size:cover;
background-position: center;
 background-repeat:no-repeat;
}

.flames{
    aspect-ratio: 3024/4032;
    max-height: 60vh;
    max-width: 40vw;
background-image: url("/resources/images/portfolio/fire.jpg");
background-size:cover;
background-position: center;
 background-repeat:no-repeat;
}

.one{
    aspect-ratio: 3608/2840;
    max-height: 60vh;
    max-width: 40vw;
background-image: url("/resources/images/portfolio/sunset trees.jpg");
background-size:cover;
background-position: center;
 background-repeat:no-repeat;
 
 
}

.aurora{
    max-height: 60vh;
    max-width: 40vw;
    background-image: url("/resources/images/portfolio/northern lights.jpg");
background-size:cover;
background-position: center;
 background-repeat:no-repeat;
 
}

.two{
    max-height: 60vh;
    max-width: 40vw;
    aspect-ratio: 3227/2546 ;
        background-image: url("/resources/images/portfolio/la femme en rose.jpg");
        background-size:cover;
        background-position: center;
 background-repeat:no-repeat ;
}
.three{
    max-height: 60vh;
    max-width: 40vw;
    aspect-ratio: 3861/2877;
        background-image: url("/resources/images/portfolio/simon.jpg");
        background-size:cover;
        background-position: center;
 background-repeat:no-repeat ;
}
.uno{
    max-height: 60vh;
    max-width: 40vw;
    aspect-ratio:3024/3828 ;
    background-image: url("/resources/images/portfolio/self.jpg");
        background-size:cover;
        background-position: top;
 background-repeat:no-repeat ;
}
.une{
    max-height: 60vh;
    max-width: 40vw;
    aspect-ratio: 2718/2714;
    background-image: url("/resources/images/portfolio/painting 1.jpg");
        background-size:cover;
        background-position: center;
 background-repeat:no-repeat ;
}
.four{
    max-height: 60vh;
    max-width: 40vw;
    aspect-ratio: 3024/4032;
    background-image: url("/resources/images/portfolio/mask.jpg");
    background-size:cover;
        background-position: center;
 background-repeat:no-repeat ;
}

.five{
    aspect-ratio: 3024/4032;
    max-height: 60vh;
    max-width: 40vw;
    background-image: url("/resources/images/portfolio/wolf daughter (1).jpg");
    background-size:cover;
        background-position: top;
 background-repeat:no-repeat ;
}

.printOne{
    aspect-ratio: 2557/3239;
    max-height: 60vh;
    max-width: 40vw;
    background-image: url("/resources/images/portfolio/hand.jpg");
    background-size:cover;
        background-position: center;
 background-repeat:no-repeat ;
}

.printTwo{
    aspect-ratio: 4041/3027 ;
    max-height: 60vh;
    max-width: 40vw;
    background-image: url("/resources/images/portfolio/angel.jpg");
    background-size:cover;
        background-position: center;
 background-repeat:no-repeat ;
}

.printThree{
    aspect-ratio: 2221/2811 ;
    max-height: 60vh;
    max-width: 40vw;
    background-image: url("/resources/images/portfolio/print statur.jpg");
    background-size:cover;
        background-position: center;
 background-repeat:no-repeat ;
}

.printFour{
    aspect-ratio: 2992/2102;
    max-height: 60vh;
    max-width: 40vw;
    background-image: url("/resources/images/portfolio/division.jpg");
    background-size:cover;
        background-position: center;
 background-repeat:no-repeat ;
}





.SlideShowCont{
    display: flex;
    max-width: 750px;
    min-width: 750px;
  position: relative;
  margin: auto;
  align-items: center;

}

.mySlides1, .mySlides2, .mySlides3 {display: none}

#SlideOne{
    display: block;
}

  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 15px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }


/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }



  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }


  /*Floating Top Navigation Bar*/


#topbar {
    position: fixed;
    top: 0px;
    right: 0;
    left: 0;
    z-index: 5;
    transition: top .3s;
    
}
.topnav{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100cw;
    overflow: hidden;
    position: relative;
    background-color: rgba(0, 0, 0, 0.55);
    justify-content: space-between;
}

.topnav #bar{
    display: none;
    flex-direction: column;
}

.topnav a {
    text-align: right;
    align-items: center;
    text-decoration-line: none ;
    
    float:inline-end;
    display:flex;
    padding: 22px 25px;

    font-size: 3vh;
    font-family: var(--header-font-fam);
    
    color: var(--main-text-dark);

}

.topnav a.icon{
    width: 2.2vw;
  display: flexbox;
  position: fixed;
  right: 0;
  top: 0;
  background-image: "/resources/images/hamborgir.png";
}

.topnav a.active {
    font-weight: 800;
    color: var(--clicked-link-light);
    background-color: var(--background-light);
   
}

.topnav a:hover {
    transition:  .33s ease-in-out;
    color: var(--clicked-link-light);
    background-color: var(--background-light);
    
}

.topnav img{
    height: 50px;
}



/*social icons*/
.row {
    width: fit-content;
    float:right;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}



.row #bar{
    padding: unset;
    flex-flow: row;
    width: unset;
    justify-content: space-between;
}


